<!--header start-->
<header class="header white-bg">
      <div class="toggle-nav">
          <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo"><span>Exam</span><span class="lite">Management</span></a>
      <!--logo end-->
      <div class="top-nav notification-row">                
          <!-- notificatoin dropdown start-->
          <ul class="nav pull-right top-menu">
              <a href="{{path('logout')}}" class="username">Logout [{{app.user.fName}}]</a>
          </ul>
          <ul class="nav pull-right top-menu">
              <a href="{{path('change_settings')}}" class="username">Settings</a>&nbsp; | &nbsp;
          </ul>
          <!-- notificatoin dropdown end-->
      </div>
</header>      
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">                
            <li class="active">
                <a class="" href="{{path('homepage')}}">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_group"></i>
                    <span>Students</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{path('add_student')}}">Add Student</a></li>
                    <li><a class="" href="{{path('list_students')}}">Students List</a></li>
                    <li><a class="" href="{{path('attendance_classes')}}">Attendance</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_briefcase"></i>
                    <span>Subjects</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{path('add_subject')}}">Add Subject</a></li>
                    <li><a class="" href="{{path('list_subjects')}}">Subjects List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_datareport_alt"></i>
                    <span>Classes</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{path('add_class')}}">Add Classes</a></li>
                    <li><a class="" href="{{path('list_classes')}}">Classes List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_drawer_alt"></i>
                    <span>Exams</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{path('choose_class_for_exam')}}">Record Exam</a></li>
                    <li><a class="" href="{{path('list_exam_companies')}}">Exam Companies</a></li>
                  {% if app.user and app.user.classses|first %}
                    <li>
                    <a href="{{ path('view_exams', {'classId': app.user.classses|first.id, 'examCompanyId': 'new', 'term': 'none' }) }}" >Exam Summaries</a>
                    </li>
                  {% endif %}
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_documents"></i>
                    <span>Documents</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('add_document') }}" >Add Document</a></li>
                    <li><a href="{{ path('list_documents') }}" >Your Documents</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_desktop"></i>
                    <span>Books</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{path('add_book')}}">Add Book</a></li>
                    <li><a class="" href="{{path('list_books')}}">List Books</a></li>
                    <li><a class="" href="{{path('add_book_movement')}}">Add Book Record</a></li>
                </ul>
            </li>
            
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

