{% extends 'base.html.twig' %}

{% block pagewrapper %}
    {% set action_title = "Attendance Register" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
		{% if attendances is defined and attendances is not empty and attendances[0]|length > 0 %}
        	{% if attendances[0]|length < 5 %}
        		{% set colLength = 3 %}
        	{% elseif attendances[0]|length > 0 and attendances[0]|length <= 10 %}
        		{% set colLength = 6 %}
        	{% elseif attendances[0]|length > 10 and attendances[0]|length <= 20 %}
        		{% set colLength = 9 %}
        	{% elseif attendances[0]|length > 20 and attendances[0]|length <= 31 %}
        		{% set colLength = 9 %}
        	{% else %}
        		{% set colLength = 12 %}
			{% endif %}        		

		<div class="col-lg-3">
		<div class="panel panel-default">
		    <div class="panel-heading" style="height:50px;">
		        Names
		    </div>
		    <!-- /.panel-heading -->
		    <div class="panel-body">
		        <div class="table-responsive">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th><span class="text-nowrap">Student Name</span></th>
							</tr>
		                </thead>
		                    <tbody>
    						{% for attendance in attendances %}		                    	
		                    {% if attendance is not empty %}
								{% set index = loop.index0 %}
		                        <tr class="something">
								    <td class="col-md-1"><span class="text-nowrap"><a href="{{ path('student_profile', { studentId: attendance[0].student.id } ) }}">{{ attendance[0].student }}</a></span></td>
								    <td class="col-md-1"><span class="text-nowrap">{{ attendance[0].student.gender|first|capitalize }}</span></td>
								</tr>
							{% endif %}
							{% endfor %}
							</tbody>
		            </table>
		        </div>
		    </div>
		</div>
		</div>

   
          <div class="col-lg-{{ colLength }}">
		    <div class="panel panel-default">
		        <div class="panel-heading" style="height:50px;">
		            {{ date|date("F") }}
		            <a href="{{ path('download_attendance_pdf', { 'classId': class.id, 'dateString': date|date("Y-m-d") } ) }}" class="btn btn-info btn-xs"><i class="fa fa-download"></i>  Download</a>
		        </div>
		        <!-- /.panel-heading -->
		        <div class="panel-body">
		            <div class="table-responsive">
		                <table class="table table-hover">
		                <thead>
		                    <tr>
		                    {% if attendances is not empty %}
							    {% for date in attendances[0] %}
								    <th class="col-md-1">
								    	{{ date.onDate|date("d") }}
								    </th>
							    {% endfor %}
							{% endif %}		                        	
							</tr>
		                </thead>
		                    <tbody>
		                    {% if attendances is not empty %}
    						{% for attendance in attendances %}		                    	
								{% set index = loop.index0 %}
		                        <tr class="something">
								    {% for att in attendance%}
		                    		{% if att is not empty %}
								    <td class="col-md-1">
								    	{% if att.morning == true and att.afternoon == true %}
											<img src="{{ asset('images/present_morning_and_afternoon.png') }}" >								    		
								    	{% elseif att.morning == true and att.afternoon == false %}
											<img src="{{ asset('images/present_absent.png') }}" >	
								    	{% elseif att.morning == false and att.afternoon == true %}
											<img src="{{ asset('images/absent_present.png') }}" >								    			
								    	{% elseif att.morning == false and att.afternoon == false %}
											<img src="{{ asset('images/absent_morning_and_afternoon.png') }}" >
								    	{% endif %}
								    </td>
									{% else %}
										<td>...</td>
									{% endif %}
								    {% endfor %}
								</tr>
							{% endfor %}
							{% endif %}
		                    </tbody>
		                </table>
		            </div>
		            <!-- /.table-responsive -->
		        </div>
		        <!-- /.panel-body -->
		    </div>
		    <!-- /.panel -->
		    <p> Present Points: {{ presentPoints }} Absent Points {{ absentPoints }} Total Points {{ totalPoints }} </p>
		</div>
    	<div class="row">
			<div class="col-lg-6">
	            {% set title = 'Class ' ~ class.classNumber ~ 'Attendance Donut Chart For The Month Of ' ~ date|date("F") %}
	    		{% include "templates/donutchart.html.twig" with {title: title} %}
	    	</div>
			<div class="col-lg-6">
	            {% set titleBar = 'Class ' ~ class.classNumber ~ 'Attendance Bar Chart For The Month Of ' ~ date|date("F") %}
	    		{% include "templates/barchart.html.twig" with {title: titleBar} %}
	    	</div>
	    </div>
		{% else %}
		<div class="col-lg-6">
			<p>No attendance records for {{ date|date("F") }} [Class {{class.classNumber}}]</p>
			{% if students|length == 0 %} 
				Please <a href="{{ path('add_student') }}">Add Students</a>. There are no students for this class.
			{% endif %}
		</div>
		{% endif %}
        {% endblock %}
    {% endembed %}
{# {{ dump(totalPoints) }} #}
 {% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/printThis.js') }}"></script>
    <script>
	  $(document).ready(function() {
	    $( "#sendPrint" ).click(function(e) {
	      $('#toPrint').printThis();
	    });
	  });
    </script>

    <script>
	  $(document).ready(function() {
	    $( "#sendPrintBar" ).click(function(e) {
	      $('#toPrintBar').printThis();
	    });
	  });
    </script>

	<script type="text/javascript">
	    Morris.Donut({
	        element: 'morris-donut-chart',
	        data: [{
	            label: "Present Pts",
	            value: {{ presentPoints }}
	        }, {
	            label: "Absent Pts",
	            value: {{ absentPoints }}
	        }],
	        resize: true
	    });

    Morris.Bar({
        element: 'morris-bar-chart',
        data: [{
            y: 'Present',
            a: {{ presentPoints }},
        }, {
            y: 'Absent',
            a: {{ absentPoints }},
        }],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Points'],
        hideHover: 'auto',
        resize: true
    });
	</script>

{% endblock %}