{% extends 'base.html.twig' %}
{% block stylesheets %}

    <!-- DataTables CSS -->
    <link href="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

{% endblock %}
{% block pagewrapper %}
  {% if term and examCompany.companyName is defined %}
    {% set action_title = "Exam Summary - " ~ examCompany.companyName ~ " Term " ~ term ~ " Class " ~ class.classNumber %}
  {% else %}
    {% set action_title = "Exam Summary - New"%}
  {% endif %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}

        {% block charts %}
           {{ include('exam/table.html.twig') }}        	
          <a href="{{ path('exam_profile', { 'classId': class.id } ) }}" class="btn btn-success btn-block">View Exam Performance History Graph</a>
          <hr />
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/printThis.js') }}"></script>
    <script>
    $(document).ready(function() {
      $( "#sendPrint" ).click(function(e) {
        $('.toPrint a').removeAttr('href');
        console.log('success');
        $('.toPrint').printThis();
        setTimeout(function() {
          location.reload();
        }, 15000);
        
      });
    });
    </script>

    <!-- DataTables JavaScript -->
    <script src="{{ asset('vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
        });
    });
    </script>

      <script>
        $(document).on('change', '#examCompany', function(){
          var termVal = $('#term').val();
          var split = termVal.split("_");
          var term = split[1];
          $('#redirect').attr('href', "/exam/view/{{ class.id }}/"+$(this).val()+"/"+ term );
            location.href = $('#redirect').attr('href');
            console.log('changed');
            $('#redirect').trigger('click');
        });
      </script>

      <script>
        $(document).on('change', '#term', function(){
          var termVal = $('#term').val();
          var split = termVal.split("_");
          var term = split[1];
          $('#redirect').attr('href', "/exam/view/{{ class.id }}/"+$('#examCompany').val()+"/"+ term );
            location.href = $('#redirect').attr('href');
            console.log('changed');
            $('#redirect').trigger('click');
        });
      </script>
      
      <script>
        $(document).on('change', '#getClass', function(){
          var termVal = $('#term').val();
          var split = termVal.split("_");
          var term = split[1];
          $('#redirect').attr('href', "/exam/view/"+$(this).val()+"/"+$('#examCompany').val()+"/"+ term );
            location.href = $('#redirect').attr('href');
            console.log('changed');
            $('#redirect').trigger('click');
        });
      </script>


{# "pageLength": 3 #}
{% endblock %}