{% extends 'base.html.twig' %}
{% block navigation %}
{% endblock %} 
{% block pagewrapper %}
    {% set action_title = "Sign Up" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}

		{{ form_start(form, {'method': 'post', 'attr': {'class': 'login-form' }}) }}
		         <div class="login-wrap">
					{% if not form.vars.valid %}
		              <div class="alert alert-warning">
		              {{ form_errors(form) }}
		              </div>				
	          		{% endif %}
                  <p class="login-img"><i class="arrow_carrot-right_alt "></i></p>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon_comment"></i></span>
                    {{ form_row(form.f_name, {'attr': {'class': 'form-control', 'placeholder': 'First Name', 'id': 'firstname' }}) }}
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_comment"></i></span>
                      {{ form_row(form.l_name, {'attr': {'class': 'form-control', 'placeholder': 'Last Name', 'id': 'lastname' }}) }}
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_profile"></i></span>
                      {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username', 'id': 'username' }}) }}
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_mail"></i></span>
                      {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'id': 'email' }}) }}
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                      {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'password' }}) }}
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                      {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'passwrdrepeat' }}) }}
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
                  <a class="btn btn-info btn-lg btn-block" href="{{ path('login') }}">Login</a>

			{{ form_end(form) }}

		{% endblock %}
	{% endembed %}
{% endblock %}